html, body {
    margin:0;
    padding: 0;
}
body {
    background-color: #f7f5ee;  
    font-size: 100%;
}
h1 {
    font-size: 400%; 
    color: #28324b; 
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700; 
    line-height: 64px;
     margin: auto;
     padding: 20px 30px;
     text-align: center;
     text-transform: uppercase; 
     border: 3px #060c2c outset;
     border-radius: 10px;
     width:40% 

}
h3 {

  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 60px;
  transform: skewY(-10deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: #0D4762;
  text-shadow: 
    -1px -1px 0 #3A738D,
    -2px -2px 0 #3A738D,
    -3px -3px 0 #3A738D,
    -4px -4px 0 #3A738D,
    -5px -5px 0 #3A738D,
    -6px -6px 0 #3A738D,
    -7px -7px 0 #3A738D,
    -8px -8px 0 #3A738D,
    -30px 20px 40px dimgrey
}
h2 {
    font-size: 150%;
    color: #19a679;
	text-align: center;
}
p,td {
    color: #3d4146; 
	font-family: DejaVu Sans Mono, monospace;
}
.flotte {
float:left;
}
a:link {
    color: #6A5ACD;
    text-decoration: underline;
}
a:visited {
    color: #4682B4;
}
a:active {
    color:red;
}
a:hover {
    color: red;
    text-decoration: none;
}
#menu-demo2, #menu-demo2 ul{
padding:0;
margin:0;
list-style:none;
text-align:center;
}
#menu-demo2 li{
display:inline-block;
position:relative;
border-radius:8px 8px 0 0;
}
#menu-demo2 ul li{
display:inherit;
border-radius:0;
}

#menu-demo2 ul li:last-child{
border-radius:0 0 8px 8px;
}
#menu-demo2 ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
#menu-demo2 li:hover ul{
max-height:15em;
}
/* background des liens menus */
#menu-demo2 li:first-child{
background-color: #6384a9;
}
#menu-demo2 li:nth-child(2){
background-color: #6384a9;
}
#menu-demo2 li:nth-child(3){
background-color: #6384a9;
}
#menu-demo2 li:last-child{
background-color: #6384a9;
}
/* background des liens sous menus */
#menu-demo2 li:first-child li{
background:#6384a9;
}
#menu-demo2 li:nth-child(2) li{
background:#6384a9;
}
#menu-demo2 li:nth-child(3) li{
background:#6384a9;
}
#menu-demo2 li:last-child li{
background:#6384a9;
}
/* background des liens menus et sous menus au survol */
#menu-demo2 li:first-child:hover, #menu-demo2 li:first-child li:hover{
background:#446589;
}
#menu-demo2 li:nth-child(2):hover, #menu-demo2 li:nth-child(2) li:hover{
background:#446589;
}
#menu-demo2 li:nth-child(3):hover, #menu-demo2 li:nth-child(3) li:hover{
background:#446589;
}
#menu-demo2 li:last-child:hover, #menu-demo2 li:last-child li:hover{
background:#446589;
}
/* les a href */
#menu-demo2 a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
font-family:Courier New,courier,modern,monospace;
}
#menu-demo2 ul a{
padding:8px 0;
}
#menu-demo2 li:hover li a{
color:#fff;
text-transform:inherit;
}
#menu-demo2 li:hover a, #menu-demo2 li li:hover a{
color:#000;
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #6384a9; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
blockquote {
  min-height: 5em;
  padding   : 1em 4em;
  font      : 1.5em/100% 'Courier New', Courier, monospace;
  position  : relative;
  background-color: #b4d0f0;
}

blockquote::before,
blockquote::after {
  position: absolute;
  height  : 3rem;
  font    : 6rem/100% 'Courier New', Courier, monospace;
}

blockquote::before {
  content: '“';
  top    : 0.3rem;
  left   : 0.9rem;
}

blockquote::after {
  content: '”';
  bottom : 0.3rem;
  right  : 0.8rem;
}

blockquote:lang(fr)::before {
  content: '«';
  top    : -1.5rem;
  left   : 0.5rem;
}

blockquote:lang(fr)::after {
  content: '»';
  bottom : 2.6rem;
  right  : 0.5rem
}

blockquote i {
  display   : block;
  font-size : 0.8em;
  margin-top: 1rem;
  text-style: italic;
  text-align: right;
}
.bloc {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 20px #555; 
    -webkit-box-shadow: 0 0 20px #555; 
    box-shadow: 0 0 20px #555; 
	margin: 0 auto;
    width:1000px;
	text-align: center;
}
.bloc h1 {
    margin: 0 auto;
	width:1000px;
    padding:5px;
    font-size:1.5em;
    color:#fff;
    background-color:#9DADC6;
    border:1px solid #8E98A4;
    border-bottom:0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}
.bloc p {
    background-color:#e5e5e5;
    padding:5px;
    margin: 0 auto;
	width:1000px;
    border:1px solid #fff;
    border-top:0;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }