main,body,header>nav,header,article{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
main>section{
    display: flex;
    flex-wrap: wrap;
}
header>img{
    flex-basis: 100%;
    flex-grow: 1;
}
nav,table,article{
    flex-basis: 100%;
    flex-grow: 1;  
}
article>*{
    flex-basis: 40%;
    flex-grow: 1;
}
main{
    flex-basis: 70%;
}
aside{
    flex-grow: 0;
    flex-basis: 10%;
}
section>img{
    flex-basis: 40%;
}
section>div{
    flex-basis: 50%;
}
footer{
    flex-basis: 100%;
    flex-grow: 1;
}
