section>img{
    width: 1em;
    height: auto;
}
th>a{
    margin: 4.7em;
}
table{
    border-collapse: collapse;
    border: thin solid rgb(39, 1, 65);
}
th,td{
    border: thin solid black;
}
aside,footer{
    border: thin solid black;
    
}
header>img{
    margin-bottom: 2em;
}
header{
    margin-bottom: 2em;
}

section{
    margin: 0.5em;
}
section>div,footer{
    margin: 1em;
}
body{
    background-color: rgb(233, 221, 243);
}